*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Xenara;
  font-size: 20px;
  font-weight: normal;
}

body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 120px, auto);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
}
.calculator-grid > button:hover {
  background: rgba(255, 255, 255, 0.75);
}
.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
  height: 100px;
}
.current-operand {
  color: red;
  font-size: 30px;
}
